div ul li{
    list-style: none;
    float: right;
    padding: 0 10px;
    margin: 10px 30px;
    color: brown;
}
.principal ul{
    padding-right: 100px;
}
body{
    background-color: black;
}
div ul li:hover{
color: white;
}
.caja{
    width: 100px;
    height: 100px;
    background-color: white;
    transition: 3s;
}
.caja:hover{
    padding-left: 100px;
    transition: 3s;
}
.desplazar a .icono i{
    color: brown;
    font-size: 2em;
    position: absolute;
    visibility: hidden;
}
.desplazar a .texto h2{
    color: brown;
    font-size: 2em;
    position: relative;
}
.desplazar:hover>a .texto h2{
    padding-left: 50px;
    transition: 0.5s;
}
.desplazar:hover> a .icono i{
    visibility: visible;
}
.desplazar a{
    text-decoration: none;
}
.desplazar{
    width: 200px;
}
.desplazar .texto:hover{
    text-shadow: 0 0 20px #38487c, 0 0 40px #38487c, 0 0 60px #38487c,
    0 0 80px #38487c;
    border: 25px;
}
