*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right, rgba(117, 0, 0, 0.500), rgb(0, 0, 0, 0.500)), url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0b397970-ae46-4477-85a9-512323a6dcb3/df0b2xa-5baea74c-9b5c-4ebc-b7c4-1001ca5a6369.jpg/v1/fill/w_1192,h_670,q_70,strp/the_little_street_by_harperjhad_df0b2xa-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvMGIzOTc5NzAtYWU0Ni00NDc3LTg1YTktNTEyMzIzYTZkY2IzXC9kZjBiMnhhLTViYWVhNzRjLTliNWMtNGViYy1iN2M0LTEwMDFjYTVhNjM2OS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.beEK70uFAcHK9V3DdqE8a0h5XoCGSGW0ky3w_2Jp4ZA");
    background: linear-gradient(to left, rgb(117, 0, 0, 0.500), rgb(0, 0, 0, 0.500)), url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0b397970-ae46-4477-85a9-512323a6dcb3/df0b2xa-5baea74c-9b5c-4ebc-b7c4-1001ca5a6369.jpg/v1/fill/w_1192,h_670,q_70,strp/the_little_street_by_harperjhad_df0b2xa-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvMGIzOTc5NzAtYWU0Ni00NDc3LTg1YTktNTEyMzIzYTZkY2IzXC9kZjBiMnhhLTViYWVhNzRjLTliNWMtNGViYy1iN2M0LTEwMDFjYTVhNjM2OS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.beEK70uFAcHK9V3DdqE8a0h5XoCGSGW0ky3w_2Jp4ZA");*/
}
.menu{
    background-color: rgba(0, 0, 0, 0.795);
    height: 80px;
    width: 100%;
}
.menu div ul li{
    float: left;
    color: white;
    padding: 28px 30px;
    list-style: none;
    font-size: 20px;
}
.menu div ul li:hover{
    background-color: rgba(255, 255, 255, 0.411);
}
.menu div{
    float: right;
}
.circle{
    margin: 30px 20px;
    width: 150px;
    height: 150px;
    background-color: brown;
    border-radius: 50%;
    animation-name: mover;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
}
.circle:hover{
    animation-play-state: paused;
}
@keyframes cambioColor {
    from{
        background-color: crimson;
    }
    to{
        background-color: aqua;
    }
}
@keyframes escalar {
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(2);
    }
    40%{
        transform: scale(3);
    }
    60%{
        transform: scale(4);
    }
    80%{
        transform: scale(5);
    }
    100%{
        transform: scale(6);
    }
}

@keyframes mover{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%) translateY(100%);
        background-color: aqua;
    }
}