.master .item1 a:hover> h1{
    background-color: aqua;
    margin-left: 100px;
    transition: 0.5s;
}
.master .item1:hover{
    background-color: darkgoldenrod;
    transition: 0.5s;
}
.master h1{
    background-color: none;
    transition: 0.5s;
}
.master a i{
    visibility: hidden;
}
.master .item1 a:hover> i{
    visibility: visible;
    font-size: 5em;
}
.master .item2:hover>h1{
    margin-left: 100px;
    transition: 0.5s;
}
.master .item3:hover>h1 {
    margin-left: 100px;
    transition: 0.5s;
}
.master .item4:hover>h1{
    margin-left: 100px;
    transition: 0.5s;
}
input:focus {
    background-color: rgb(150, 148, 148);
    transition: 0.5s;
}
input{
    background-color: white;
    transition: 1s;
    border-radius: 5px;
}
h1, .master{
    width: 200px;
}